<ion-header transparent no-boarder >
  <ion-toolbar color="dark">
    <ion-title >Main Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark" >

          <ion-button shape="round" expand="full" size="large" (click)="stepCount()" color="tertiary">Step Counter
              <ion-icon slot="start" name="md-walk" ></ion-icon>
              <ion-icon slot="end" name="md-walk" ></ion-icon>
          </ion-button>

          <ion-button shape="round" expand="full" size="large" (click)="dailyHealth()" color="tertiary">Daily Health
            <ion-icon slot="start" name="md-heart" ></ion-icon>
              <ion-icon slot="end" name="md-heart" ></ion-icon>
          </ion-button>
          
          <ion-button shape="round" expand="full" size="large" (click)="userDetails()" color="tertiary">User Details
              <ion-icon slot="start" name="ios-contact" ></ion-icon>
              <ion-icon slot="end" name="ios-contact" ></ion-icon>
          </ion-button>
          
          <ion-button shape="round" expand="full" size="large" (click)="bmiCalc()" color="tertiary">BMI calculator
              <ion-icon slot="start" name="md-calculator" ></ion-icon>
              <ion-icon slot="end" name="md-calculator" ></ion-icon>
          </ion-button>
          
          <ion-button shape="round" expand="full" size="large" (click)="exersize()" color="tertiary">Logs
              <ion-icon slot="start" name="md-clipboard" ></ion-icon>
              <ion-icon slot="end" name="md-clipboard" ></ion-icon>
          </ion-button>
      
</ion-content>
