<ion-header transparent no-boarder>
  <ion-toolbar>
    <ion-title>Main Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium" >
    <ion-list>
        
          <ion-button expand="full" (click)="stepCount()" color="danger">Step Counter</ion-button>
        
          <ion-button expand="full" (click)="heartBeat()" color="danger">Heart Beat Monitor</ion-button>
       
          <ion-button expand="full" (click)="userDetails()" color="danger">User Details</ion-button>
      
          <ion-button expand="full" (click)="bmiCalc()" color="danger">BMI calculator</ion-button>
        
          <ion-button expand="full" (click)="exersize()" color="danger">Logs</ion-button>
        
      </ion-list>
</ion-content>
