<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="tertiary">logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id = "data" *ngFor="let post of (userDetails).posts">
    <div>
        <ion-icon name="md-cloud-upload" ></ion-icon>
        <div>
            <ion-chip color="dark">
                <ion-icon name="md-calendar" ></ion-icon>
                <ion-label color="tertiary">Date: {{post.createdAt.seconds * 1000 | date:'MM-dd-yyyy'}}</ion-label>
              </ion-chip>
        </div>
        <div>
            <ion-label>Coffee: {{post.coffee}}</ion-label>
        </div>
        <div>
            <ion-label>Exercise: {{post.exercise}}</ion-label>
        </div>
        <div>
            <ion-label>Hours slept: {{post.slept}}</ion-label>
        </div>
        <div>
            <ion-label>Cups of water: {{post.water}}</ion-label>  
        </div>
    </div>
    
  </div>

    <ion-button full (click)="goBack()" color="tertiary">Back</ion-button >
</ion-content>
