<ion-header>
  <ion-toolbar>
    <ion-title>
      Log in to your Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="login()">Log in</button>
  <button ion-button full (click)="register()">Register</button>
</ion-content>
