<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="tertiary">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-chip color="dark">
      <ion-icon name="ios-contact" ></ion-icon>
      <ion-label color="tertiary">Username: {{username}}</ion-label>
    </ion-chip>
  <ion-input type="number" placeholder="Enter Height" [(ngModel)]="height" color="dark"></ion-input>
  <ion-input type="number" placeholder="Enter Weight" [(ngModel)]="weight"></ion-input>
  <ion-input type="number" placeholder="Enter Age" [(ngModel)]="age"></ion-input>
  <ion-input placeholder="Enter Gender" [(ngModel)]="gender"></ion-input>
  <ion-icon name="md-cloud-upload" ></ion-icon>
    <div>
        <div><ion-label>Saved user details:</ion-label></div>
            <div>
                <ion-label>Age: {{userDetails.details.age}}</ion-label>
            </div>
            <div>
                <ion-label>Gender: {{userDetails.details.gender}}</ion-label>
            </div>
            <div>
                <ion-label>Height: {{userDetails.details.height}}</ion-label>
            </div>
            <div>
                <ion-label>Weight: {{userDetails.details.weight}}</ion-label>
            </div>
    </div>

  <ion-button full (click)="saveDetails()" color="success">Save</ion-button >
    <ion-button full (click)="goBack()" color="danger">Cancel</ion-button >
</ion-content>

