<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Create an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Email" [(ngModel)]="username">
          <ion-icon name="md-person" ></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password">
          <ion-icon name="md-key" ></ion-icon>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button full (click)="registerAcc()">Register</ion-button >
  <ion-button full (click)="goBack()" color="danger">Cancel</ion-button >
</ion-content>
